<div class="clearfix-gray"></div>
<section id="footer">
  <div class="container-fluid pl-pr-10 h-100">
    <div class="d-flex col-12 p-0 justify-content-between align-items-center">
      <div *ngIf="loaded">
        <a routerLink="" class="logo lg-logo" [ngStyle]="{'background-image': 'url('+createImgPathLogo(this.data.logoFooter)+')'}"></a>
        <p >
          {{this.desc}}
        </p>
      </div>
      <div class="menu d-lg-block d-md-none d-sm-none d-none">
        <ul>
          <a routerLink="/shopping"><li><i class="far fa-shopping-bag fa-nav-icon"></i>{{'shopping' | translate }}</li></a>
          <a routerLink="/tariffs"><li> <i class="far fa-money-check-edit-alt fa-nav-icon"></i>{{'tariffs' | translate }}</li></a>
          <a routerLink="/calculator"><li> <i class="far fa-calculator-alt fa-nav-icon"></i> {{'calculator' | translate }}</li></a>
          <a routerLink="/courier"><li><i class="far fa-truck-moving fa-nav-icon"></i> {{'courier' | translate }}</li></a>
        </ul>
      </div>
    </div>
  </div>

</section>
