#register{
  background-color: #EBEEF2;
  .bg-color{
    background: white;
    margin-top: 30px;
    box-shadow: 3px 3px 20px 0px #bababa;
  }
  .mat-tab-label{
    height: auto;
    padding-top:20px;
    padding-bottom:20px;
      justify-content: start;
  }
}
