<app-layout>
  <div id="dashboard">
    <app-title-admin [title]="'dashboard'"></app-title-admin>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus ipsa soluta voluptatibus. Asperiores dolores enim fuga iusto, maxime minima minus modi mollitia, necessitatibus pariatur recusandae repellendus temporibus! Dolorum, obcaecati.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus ipsa soluta voluptatibus. Asperiores dolores enim fuga iusto, maxime minima minus modi mollitia, necessitatibus pariatur recusandae repellendus temporibus! Dolorum, obcaecati.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus ipsa soluta voluptatibus. Asperiores dolores enim fuga iusto, maxime minima minus modi mollitia, necessitatibus pariatur recusandae repellendus temporibus! Dolorum, obcaecati.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus ipsa soluta voluptatibus. Asperiores dolores enim fuga iusto, maxime minima minus modi mollitia, necessitatibus pariatur recusandae repellendus temporibus! Dolorum, obcaecati.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ducimus ipsa soluta voluptatibus. Asperiores dolores enim fuga iusto, maxime minima minus modi mollitia, necessitatibus pariatur recusandae repellendus temporibus! Dolorum, obcaecati.</p>
  </div>
 </app-layout>
