<app-navbar>
</app-navbar>
<app-mobile-navbar>
</app-mobile-navbar>
<section id="login">
  <app-title [title]="title" ></app-title>
  <div class="container-fluid  pl-pr-10 pt-5 pb-5 d-flex justify-content-center">
    <div class="bg-color col-xl-6 xol-lg-6 col-md-9 col-sm-12 col-12 p-sm-0">
      <div class="p-lg-5 p-md-5 p-sm-3 pb-sm-4 p-2 pb-4">
        <div class="pr-lg-2 pl-lg-2  p-0 pt-2">
          <mat-form-field class="w-100 mt-3" appearance="fill">
            <mat-label class="ml-2">Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label class="ml-2">Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="w-100 d-flex  mt-4">
            <button mat-raised-button class="text-uppercase log-button form-buttons w-100">giriş </button>
          </div>
          <div class="w-100 mt-4 d-flex justify-content-center">
            <a routerLink="/restore">Şifrəni unutmusan?</a>
          </div>
          <div class="w-100 mt-4 mb-5" style="border-bottom: 1px solid #dadde1;"></div>
          <div class="w-100 d-flex mt-4 justify-content-center">
            <a routerLink="/register" class="w-50">
              <button mat-raised-button class="text-uppercase reg-button form-buttons w-100" >Qeydiyat</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

