#news-page{
  background-color: #EBEEF2;

  .owl-next{
    color: #0870EB!important;
    background-color: transparent;
  }
  .owl-prev{
    color: #9D9FA1!important;
    background-color: transparent;
  }
  .owl-nav {
    margin-top: 0;
    position: absolute;
    top: -50px;
    right: 0;
  }
  .card{
    border: 0;
  }
  .news-image{
    height: 215px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-color{
    background: white;
    box-shadow: 3px 3px 10px 0 #e3e3e3;
  }
}
