<app-navbar>
</app-navbar>
<app-mobile-navbar>
</app-mobile-navbar>
<section id="restore">
  <app-title [title]="'restorePass'|translate" ></app-title>
  <div class="container-fluid  pl-pr-10 pt-5 pb-5 d-flex justify-content-center">
    <div class="bg-color col-xl-6 xol-lg-6 col-md-9 col-sm-12 col-12 p-sm-0">
      <div class="p-lg-5 p-md-5 p-sm-3 pb-sm-4 p-2 pb-4">
        <form [formGroup]="Form" novalidate (ngSubmit)="sendPass()">
        <div class="pr-lg-2 pl-lg-2  p-0 pt-2">
          <div class="d-flex flex-wrap w-100">
            <div class="col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">{{'Password' | translate }}</mat-label>
                <input type="password" matInput placeholder="*********" formControlName="Password">
                <mat-error  *ngIf="errorHandling('Password','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
                <mat-error  *ngIf="Password.errors?.minlength " >
                  {{'minLengthPass' | translate }}
                </mat-error>
                <mat-error  *ngIf="errorHandling('Password','pattern')" >
                  {{'patternPass' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize" >{{'PasswordAgain' | translate }}</mat-label>
                <input type="password" matInput placeholder="*********" formControlName="CheckPassword">
                <mat-error  *ngIf="errorHandling('CheckPassword','compare')" >
                  {{'comparePass' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="w-100 d-flex  mt-4">
            <button mat-raised-button class="text-uppercase restore-button  w-100"[disabled]="!Form.valid" >{{'restore'|translate}}</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

