<div *ngIf="loaded else elseblock">
  <h1 class="mb-2" mat-dialog-title>
    <b>İnformasiya</b>
  </h1>
  <div mat-dialog-content >
    <div class="d-flex flex-wrap">
      <div class="pt-4 pb-4  pl-1 pr-1 w-100">
        <div class="w-100">
          <h4 class=" pl-3 pt-4 pb-2 w-100 text-uppercase"><b>{{'PersonalInfo' | translate }} </b></h4>
          <div class="d-flex flex-wrap w-100">
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">{{'Email' | translate }} </mat-label>
                <input type="email" matInput [value]="customer.user.email" disabled placeholder="camex.example@example.com">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize" >{{'IDCardNumber' | translate }}</mat-label>
                <input type="number" matInput [value]="customer.privateCustomer.passportNumber" disabled  placeholder="12345678">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize" >{{'registrationName' | translate }}</mat-label>
                <input type="text" matInput [value]="customer.privateCustomer.name" disabled placeholder="Seynur" >
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize" >{{'registrationSurname' | translate }}</mat-label>
                <input type="text" matInput [value]="customer.privateCustomer.surname" disabled placeholder="Məmmədov" >
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize" >{{'registrationLastname' | translate }}</mat-label>
                <input type="text" matInput [value]="customer.privateCustomer.lastname" disabled placeholder="Seymur" >
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize" >{{'BirthDate' | translate }}</mat-label>
                <input matInput [value]="customer.privateCustomer.birthday" disabled [matDatepicker]="picker" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize" >{{'Citizenship' | translate }}</mat-label>
                <mat-select [(value)]="selectedCitizenship" disabled>
                  <mat-option value="1" class="text-capitalize">
                    {{'CitizenNonAz' | translate }}
                  </mat-option>
                  <mat-option value="2" class="text-capitalize">
                    {{'CitizenAz' | translate }}
                  </mat-option>
                </mat-select>

              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12 d-flex flex-wrap">
              <div class="col-lg-6 col-md-6 col-12 p-0">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label class="text-capitalize"> {{'PassIIN' | translate }}</mat-label>
                  <input type="text" matInput [value]="customer.privateCustomer.finCode" disabled placeholder="4FRKPVD" >
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-12 p-0 pl-lg-1 pl-md-1 d-flex align-items-center justify-content-between">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label class="text-capitalize" >{{'Gender' | translate }}</mat-label>
                  <mat-select [(value)]="selectedGender" disabled>
                    <mat-option value="true" class="text-capitalize">
                      {{'Male' | translate }}
                    </mat-option>
                    <mat-option value="false" class="text-capitalize">
                      {{'Female' | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'Contact' | translate }}</b></h4>
          <div class="d-flex flex-wrap w-100">
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill" >
                <mat-label class="text-capitalize">{{'City' | translate }}</mat-label>
                <mat-select value="selected" disabled>
                  <mat-option value="selected" class="text-capitalize" selected>
                    {{selectedCity}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">{{'Address' | translate }}</mat-label>
                <input type="text" matInput [value]="customer.user.address" disabled placeholder="Nizami rayonu, Cəmşid Naxçivanski 73 ">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="text-capitalize">{{'PhoneNum' | translate }}</mat-label>
                <input type="text" [value]="customer.user.phoneNumber" disabled matInput placeholder="559294860" >
              </mat-form-field>
            </div>
          </div>
          <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'OfficeTitle' | translate }}</b></h4>
          <div class="d-flex flex-wrap w-100">
            <div class="col-lg-6 col-md-12 col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">{{'Office' | translate }}</mat-label>
                <mat-select  value="selected" disabled>
                  <mat-option  value="selected" class="text-capitalize">
                    {{selectedOffice}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #elseblock>
  <h4><i><b>Loading....</b></i></h4>
</ng-template>
<div mat-dialog-actions class="w-100 justify-content-end">
  <button mat-button (click)="onNoClick()" color="primary">Ok</button>
</div>
