#layout{
  .white{
    color: white
  }
  .toolbar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    logo {
      margin-left: 8px;
      font-size: 16px;
    }
  }
  .toolbar-mobile  {
    .toolbar{
      position: fixed;
      z-index: 2;
    }
  }
  .active{
    height: 0;
  }
  .toolbar{
    background-color: #2F6BB7 ;
    color: white;
    display: flex;
    flex-wrap: wrap;
  }
  .mat-toolbar-single-row
  {
    height: 55px;
  }
  .mat-drawer{
    box-shadow: 3px 3px 20px 0px #bababa;
  }
  .mat-expansion-panel{
    box-shadow: none;
  }
  .mat-list-item{
    transition: 0.3s;
    .mat-list-item-content{
      width: 100%;


/*      &:after{
        content: "";
        width: 60%;
        border-bottom: 0.5px solid #409bf3;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 0.5em;
        z-index: -1;
      }*/
/*      &:hover{
        &:after{
          border-bottom:1px solid #3179ce;
        }
      }*/
    }
  }
  .mat-expansion-indicator{
     display: flex;
    align-items: center;
    &:after{
      margin-top: -6px;
      padding: 2px;
    }
  }
  .mat-expansion-panel-header{
    align-items:center;
  }

  .mat-expansion-panel-header,.mat-list-item-content{
    padding: 20px 30px 20px 30px;
  }
  .mat-expansion-panel-body{
    padding: 0;
  }
  .mat-list-item-content{
  }
  .mat-drawer-inner-container{
    width: 17rem;
  }
  .slidenav-item{
    font-size: 14px;
  }
  .background-image{
    background-image: url("../assets/background.webp");
    .profile-img{
      border-radius: 50%;
      height: 75px;
      width: 75px;
      background-size: cover;
      background-position: center;
    }
    .info{
      color: white;
      text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.49);
    }
    .myaccount{
      color: white!important;
      .mat-expansion-panel{
        background-color: rgba(0,0,0,.25);
      }
      .mat-expansion-panel-header-title{
        font-size: 13px!important;
        color: white;
        text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.49);
      }
      .mat-expansion-indicator{
        &:after{
          color: white;
          text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.49);
        }
      }
      width: 100%;
    }
  }

}
*{
  outline: 0!important;
  &:focus{
    outline: 0!important
  }
}
@media (max-width: 600px) {
  .mat-toolbar {
    position: fixed;
    z-index: 100;
    top: 0px;
  }
  #layout .mat-drawer{
    box-shadow: none;
    top: 55px!important;
  }
  .nav-line{
    display: block!important;
  }
}
