<div class="toolbar-container" id="layout" [class.toolbar-mobile]="mobileQuery.matches" >
  <mat-toolbar  class="toolbar">
    <div class="col-lg-2 col-md-3 col-sm-6 col-6 p-0">
      <h1 class="logo ml-3 text-uppercase"><img [src]="logoSrc" width="130" alt=""></h1>
    </div>
    <div class="col-lg-8 col-md-7 d-md-block p-0 d-sm-none d-none">
      <button mat-icon-button class="d-md-block d-sm-none d-none ml-3" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </div>
  <div class="logout col-lg-2 col-md-2 col-sm-6 col-6 d-flex justify-content-end   ">
    <button mat-icon-button routerLink="/home" class="mr-2"><i class="fad fa-home" style="font-size: 16px"></i> </button>
    <button mat-icon-button class="d-md-block d-sm-none d-none"  (click)="logout()"><i class="far fa-power-off" style="font-size: 16px"></i></button>
    <button mat-icon-button class="d-md-none d-sm-block d-block" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav  style="transform: none; visibility: visible;" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div class="w-100 background-image">
        <div class="d-flex align-items-center flex-column pt-4 ">
          <div class="profile-img mb-4"></div>
          <div class="info text-center mb-3">
            Seynur Mammadov
          </div>
          <div class="myaccount mt-1">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header  >
                  <mat-panel-title>
                    <div class="w-100 mr-5 d-flex align-items-center">
                      <i class="far fa-user mr-2"></i>   My Account
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div class="mat-expansion-panel-content" >
                    <mat-list-item routerLink="[child.route]">
                      <div >
                        setting
                      </div>
                    </mat-list-item>
                    <mat-list-item routerLink="[child.route]">
                      <div >
                        log out
                      </div>
                    </mat-list-item>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <mat-nav-list>
        <mat-list-item routerLink="/admin/dashboard">
          <div class="slidenav-item">
            <i class="far fa-chart-line mr-2"></i>
            Dashboard
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/admin/users">
          <div class="slidenav-item">
            <i class="far fa-users mr-2"></i>
            Users
          </div>
        </mat-list-item>
       <mat-accordion>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="slidenav-item">
                    <i class="far fa-browser mr-2"></i>  Action For Parcels
                  </div>

                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list-item (click)="open()">
                <div  class="slidenav-item">
                  Add New Parcel in anbar
                </div>
              </mat-list-item>
              <mat-list-item routerLink="/admin/order-in-process">
                <div  class="slidenav-item">
                  Orders In Process
                </div>
              </mat-list-item>
              <mat-list-item routerLink="/admin/order-processed">
                <div  class="slidenav-item">
                  Orders Processed
                </div>
              </mat-list-item>
              <mat-list-item routerLink="/admin/statements">
                <div  class="slidenav-item">
                  Statements
                </div>
              </mat-list-item>
            </mat-expansion-panel>
          </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="slidenav-item">
                  <i class="far fa-boxes mr-2"></i>  Parcels status
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item  routerLink="/admin/parcels/InAnbar" >
              <div  class="slidenav-item">
                In Anbar
              </div>
            </mat-list-item>
            <mat-list-item routerLink="/admin/parcels/InWay" >
              <div  class="slidenav-item">
                In Way
              </div>
            </mat-list-item>
            <mat-list-item routerLink="/admin/parcels/InСustoms" >
              <div  class="slidenav-item">
                In Customs
              </div>
            </mat-list-item>
            <mat-list-item routerLink="/admin/parcels/InOffice" >
              <div  class="slidenav-item">
                In Office
              </div>
            </mat-list-item>
            <mat-list-item routerLink="/admin/parcels/end" >
              <div  class="slidenav-item">
                End
              </div>
            </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="slidenav-item">
                  <i class="far fa-sitemap mr-2"></i> Site CRUD
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item routerLink="/admin/countries">
              <div class="slidenav-item">
                <i class="far fa-flag mr-2"></i>
                Countries
              </div>
            </mat-list-item>
            <mat-list-item routerLink="/admin/cities">
              <div class="slidenav-item">
                <i class="far fa-city mr-2"></i>
                Cities
              </div>
            </mat-list-item>
            <mat-list-item routerLink="/admin/offices">
              <div class="slidenav-item">
                <i class="far fa-phone-office mr-2"></i>
                Offices
              </div>
            </mat-list-item>
            <mat-list-item routerLink="/admin/shops">
              <div>
              <i class="far fa-shopping-bag mr-2"></i>
                Shops
              </div>
            </mat-list-item>

          </mat-expansion-panel>
        </mat-accordion>

        <mat-list-item routerLink="/admin/products">
          <div class="slidenav-item">
            <i class="far fa-boxes-alt mr-2"></i>
            Products
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content>
      </ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

