<h1 class="mb-2" mat-dialog-title>
  <b>Change Role</b>
</h1>
<h4 class="mb-1">Current Roles:
</h4>
<p><i>{{data.str.concat()}}</i></p>

<div mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label>Select Roles</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let roles of myuserRoles"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(roles)">
        {{roles}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Add role..."
        #fruitInput
        [formControl]="rolesCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
        {{role}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions class="w-100 justify-content-end">
  <button mat-button (click)="onNoClick()" color="warn">No Thanks</button>
  <button mat-button (click)="addRole()" color="primary" cdkFocusInitial>Change</button>
</div>

