<div id="dialog">
  <h2 mat-dialog-title>{{'TopUpBalance'|translate}}</h2>
  <form [formGroup]="createForm" novalidate (ngSubmit)="submit()">
    <mat-dialog-content class="mat-typography">
      <div class="d-flex flex-wrap w-100 mt-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label class="text-capitalize">{{'Price'|translate}}</mat-label>
          <input type="number" matInput placeholder="1000 " formControlName="Price">
          <mat-error  *ngIf="errorHandling('Price','required')" [innerHTML]="'Required' | translate ">
          </mat-error>
          <mat-error  *ngIf="errorHandling('Price','pattern') " >
            {{'NumberPattern' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" id="bottom-btns">
      <button mat-button mat-dialog-close>{{'Cancel'|translate}}</button>
      <button mat-raised-button class="text-uppercase reg-button"  [disabled]="!createForm.valid">{{'TopUp'|translate}}</button>
    </mat-dialog-actions>
  </form>



</div>
