<app-navbar>
</app-navbar>
<app-mobile-navbar>
</app-mobile-navbar>
<app-banner [name]="'tariffs' | translate" [bannerSrc]="bannerSrc" class="pb-5"></app-banner>
<section id="tariffs">
  <div class="container-fluid  pl-pr-10 pt-5">
    <div *ngFor="let countryTariff of countryTariffs" class="pb-5 bg-color rounded">
      <p class="h2 text-uppercase d-flex align-items-center justify-content-center">  <img [src]="createImgPath(countryTariff.image)" class="mr-2"  width="30" height="30" > {{countryTariff.name}}</p>
      <mat-tab-group  mat-align-tabs="center" >
        <mat-tab *ngFor="let tariff of countryTariff.tariff">
          <ng-template mat-tab-label >{{countryTariff.name}}-{{tariff.to}}</ng-template>
          <div class="d-flex flex-wrap  ">
            <div class=" col-lg-2 col-md-3 col-sm-6 col-12 text-center pt-2 mt-4 d-flex flex-wrap align-content-between" *ngFor="let price of tariff.priceLists">
              <p class="col-12 pb-4" *ngIf="price.max!=100 else elseblock"> {{'from'|translate}} {{price.min}} {{'kg'|translate}}  {{price.max}} {{'kglast'|translate}}</p>
              <ng-template #elseblock>
                <p class="col-12 pb-4"> {{price.min}} {{'above'|translate}}</p>
              </ng-template>
              <p class="h2 col-12">{{price.price}}$</p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
<app-footer></app-footer>

