<app-navbar>
</app-navbar>
<app-mobile-navbar>
</app-mobile-navbar>
<app-banner [name]="'tariffs' | translate" [bannerSrc]="bannerSrc" class="pb-5"></app-banner>
<section id="tariffs">
  <div class="container-fluid  pl-pr-10 pt-5">
    <div *ngFor="let countryTariff of countryTariffs" class="pb-5 bg-color rounded">
      <p class="h2 text-uppercase d-flex align-items-center justify-content-center">  <img [src]="createImgPath(countryTariff.image)" class="mr-2"  width="30" height="30" > {{countryTariff.name}}</p>
      <mat-tab-group  mat-align-tabs="center" >
        <mat-tab *ngFor="let tariff of countryTariff.tariff">
          <ng-template mat-tab-label >{{countryTariff.name}}-{{tariff.to}}</ng-template>
          <div class="d-flex flex-wrap  ">
            <div class=" col-lg-2 col-md-3 col-sm-6 col-12 text-center pt-2 mt-4 d-flex flex-wrap align-content-between" *ngFor="let price of tariff.priceLists">
              <p class="col-12 pb-4" *ngIf="price.max!=100 else elseblock"> {{'from'|translate}} {{price.min}} {{'kg'|translate}}  {{price.max}} {{'kglast'|translate}}</p>
              <ng-template #elseblock>
                <p class="col-12 pb-4"> {{price.min}} {{'above'|translate}}</p>
              </ng-template>
              <p class="h2 col-12">{{price.price}}$</p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="container-fluid  pl-pr-10 pt-5 bg-color pb-5">
      <div class="col-12">
        <h1 class="mb-4">Подробнее о расчете стоимости перевозки.</h1>

          <p>*Оплата за перевозку может осуществляться онлайн, наличными или же при помощи POS-терминала в офисе в Баку.</p>
          <p>Курс доллара США и Евро&nbsp; по отношению к манату, равен официальному курсу PASHA банка на текущую дату (по факту передачи отправления получателю), клиентом которого является «Camex».</p>
          <p><br>
            &nbsp;</p>
          <p>*Если разница между объемным и физическим весом перевозимой посылки&nbsp;превышает 15 килограммов, оплата за перевозку будет рассчитываться на основе НАИБОЛЬШЕГО показателя веса.</p>


          <p>Например:</p>

          <p>1. Физический вес посылки составляет 3 кг, а объемный вес 35 кг. В этом случае плата за перевозку посылки будет рассчитываться на основе объемного веса.</p>

          <p>2. Физический вес посылки составляет 20 кг, а объемный вес 4 кг. В этом случае оплата за перевозку будет рассчитываться на основе физического веса.</p>

          <p><span style="font-family: Arial, sans-serif; font-size: 15px; background-color: rgb(235, 238, 242);">* Если размер посылок, ввозимых из США и Великобритании&nbsp;превышает 1 метр, оплата за перевозку будет рассчитываться на основе объёмного веса, а также на кассе Вам будет скидка 20% на стоимость доставки!</span><br>
            &nbsp;</p>

          <p>Сумма перевозки из Китая учитывается как физический вес, так и объемный вес.</p>

          <p>Сумма перевозки из ОАЭ (Дубая) всех видов одежды, обуви, сумок подсчитывается на основе физического веса, а при измерении суммы доставки остальных категорий товаров учитывается как физический вес, так и объемный вес. Телевизоры из ОАЭ перевозятся на основе физического веса.</p>

          <p>В соответствии с метрическим стандартом Международной Ассоциации Авиаперевозчиков, перевозимые посылки измеряются двумя способами:</p>
          <p>1)Физический вес;</p>

          <p>2)Объемный вес.</p>

          <p><br>
            &nbsp;</p>

          <p>Если габариты посылок большие (в самолете занимают больше места), сначала подсчитываются оба показателя веса, потом наиболее высокий показатель берется за основу при подсчете цены доставки.</p>

          <p>Согласно общим правилам, объемный вес подсчитывается следующим образом:</p>
          <p><br>
            &nbsp;</p>

          <p>(Ширина(см) х Длина(см) х Высота(см))/6000=Объемный вес(в кг)</p>

          <p><br>
          <p>Срок доставки указан со дня поступления посылки отправителя на склад компании «Camex» в США, Германии, ОАЭ (Дубае), Турции, Китае и в Англии.</p>

      </div>
  </div>
</section>
<app-footer></app-footer>

