#banner{
  position: relative;
  .banner{
    height: 55vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .title{
      padding: 25px 35px;
      background-color: #3179ce;
      width: 40%;
      position: absolute;
      bottom: 50px;
      z-index: 3;
      span {
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
      }
      i {
        color: #fff;
        font-size: 10px;
        line-height: 10px;
        padding: 0 5px;
      }
      h2 {
        color: white;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 0!important;
      }
    }
  }

}
@media (min-width: 990px) and (max-width: 1200px){

  #banner{
    .title{
      width: 50% !important;
      padding: 20px 30px!important;
      bottom: -45px!important;
      h2 {
        font-size: 27px!important;
        margin-top: 10px!important;
        margin-bottom: 0!important;
      }
    }
  }
}
@media(min-width: 765px) and (max-width: 990px){
  #banner{
    .title{
      width: 50% !important;
      bottom: -40px!important;
      padding: 15px 30px!important;
      h2 {
        font-size: 22px!important;
        margin-top: 10px!important;
        margin-bottom: 0!important;
      }
    }
  }
}
@media (max-width: 765px){
  #banner{
    .title{
      padding-left: 7%;
      padding-right: 7%;
      width: 86% !important;
      bottom: -40px!important;

      h2 {
        font-size: 22px!important;
        margin-top: 10px!important;
        margin-bottom: 0!important;
      }
    }
  }
}

a{
  text-decoration: none;
}
