<section id="title">
  <div class="page-header page-header-light" >
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h2 class="text-capitalize"><i class="far fa-arrow-circle-left mr-2"></i> <span class="font-weight-bolder ">Əsas səyfə</span> - {{title}}</h2>
      </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <span class="breadcrumb-item mr-2 d-flex align-items-baseline"><i class="fas fa-home mr-2"></i> Əsas səyfə</span>
          <span class="breadcrumb-item active d-flex align-items-baseline text-capitalize">{{title}}</span>
        </div>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>
    </div>
  </div>

</section>
