<app-layout>
  <div *ngIf="loaded else elseblock" id="orders">
    <app-title-admin [title]="'İstifadəçinin İşlənən Sifarişləri'"></app-title-admin>
    <div style="padding: 25px 35px;">
      <div class="top-title d-flex justify-content-between align-items-center">
        <span class="m-0 pl-3 title">İstifadəçinin İşlənən Sifarişləri</span>
      </div>
    </div>
    <div class="margin">
      <div class="content">
        <div class="table-angular ">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          <div>
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Saytın \ Maqazanın adı </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>

              <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Url </th>
                <td mat-cell *matCellDef="let row"><a [href]="row.url" target="_blank">Məhsulun linki</a></td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi məbləğ</th>
                <td mat-cell *matCellDef="let row" > {{row.receipt.value}} {{row.country.wallet}}</td>
              </ng-container>
              <ng-container matColumnDef="isActived">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Statusu </th>
                <td mat-cell *matCellDef="let row" >
                  <span *ngIf="row.status.name == 'Processed'; else elseblock" class="badge badge-success">İşlənildi</span>
                  <ng-template #elseblock >
                    <span class="badge badge-danger">Prosesdə</span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Əməliyyatlar </th>
                <td mat-cell *matCellDef="let row" class="">
                  <div class="buttons">
                    <button mat-raised-button color="primary" class="mr-2"  (click)="openDialogAdd(row)">Anbara Əlavə et</button>
                    <button mat-raised-button color="warn" class="mr-2"  (click)="refuse(row.userId,row.receiptId, row.id)">Rəd et</button>
                    <button mat-icon-button  color="primary" (click)="openDialogInfo(row)" > <mat-icon style="font-size: 26px ">info</mat-icon></button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="12">Data tapılmadır</td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseblock></ng-template>
</app-layout>


