<header class="">
  <div class="top-header">
    <div class="container-fluid pl-pr-10 ">
     <div class="d-flex justify-content-between">
       <nav class="left col-7  p-0">
         <a routerLink="" class="logo lg-logo"></a>
         <a routerLink="home"></a>
         <a routerLink="home"> {{'hello' | translate }}</a>
         <a routerLink="home">FAQ</a>
         <a routerLink="home">Haqqımızda</a>
         <a routerLink="home">Əlaqə</a>
         <a routerLink="home">Xidmətlər</a>
       </nav>
       <div class="top-header-right right col-5 justify-content-end p-0">
         <div class="phone">
           <span>Məlumat mərkəzi</span>
           <span>  *2112</span>
         </div>
         <div class="langues">
           <div class="dropdown">
             <mat-form-field [ngStyle]="{'border':'white'}" appearance="none" >
               <mat-select [(value)]="selected" (valueChange)="SetLanguage(selectField.value)" #selectField >
                 <mat-select-trigger>
                   <a role="button" class="lang">
                     <div class="flag">
                       <img width="100%" [src]="select.img"  >
                     </div>
                     <span> {{select.name}}</span>
                   </a>
                 </mat-select-trigger>
                 <mat-option *ngFor="let lang of languages"  [value]="lang.value" >
                   <a role="button" class="lang">
                     <div class="flag">
                       <img width="100%" [src]="lang.img"  >
                     </div>
                     <span> {{lang.name}}</span>
                   </a>
                 </mat-option>
               </mat-select>
             </mat-form-field>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
  <div class="container-fluid pl-pr-10 d-flex justify-content-between">
    <div class="d-flex col-9 p-0">
      <a routerLink="" class="logo lg-logo"></a>
      <div class="menu">
        <ul>
          <a href="#"><li><i class="far fa-shopping-bag fa-nav-icon"></i>Mağazalar</li></a>
          <a href="#"><li> <i class="far fa-money-check-edit-alt fa-nav-icon"></i>Tariflər</li></a>
          <a href="#"><li> <i class="far fa-calculator-alt fa-nav-icon"></i> Kalkulyator</li></a>
          <a href="#"><li><i class="far fa-truck-moving fa-nav-icon"></i>KURYER</li></a>
        </ul>
      </div>
    </div>
    <div class="d-flex col-3 p-0 justify-content-end align-items-center">
      <button mat-raised-button class="register log-sys-btn mr-4" color="primary">Qeydiyyat</button>
      <button mat-raised-button class="log-sys-btn mr-2"> <i class=" user-icon far fa-user"></i>Giriş</button>
    </div>
  </div>
</header>

