<app-navbar>
</app-navbar>
<app-mobile-navbar>
</app-mobile-navbar>
<app-banner [name]="name" [bannerSrc]="bannerSrc"></app-banner>
<section id="faq" class="pt-5">
  <div class="container-fluid  pl-pr-10 pt-5 ">
    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
      *ngFor="let panel of panels"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="d-flex align-items-center">
            <h3 class="m-0"><b>{{panel.name }}</b></h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
      <div [innerHTML]="panel.description" class="pt-4 pb-4 pl-2 pr-2"></div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</section>
<app-footer></app-footer>
