<h1 class="mb-2" mat-dialog-title>
  <b>Ofisi yenilə</b>
</h1>

<form [formGroup]="UpdateForm" novalidate (ngSubmit)="submit()">
  <div mat-dialog-content >
    <div class="d-flex flex-wrap">
      <div class="pt-4 pb-4  pl-1 pr-1 w-100">
        <div class="w-100">
          <div class="d-flex flex-wrap w-100">
            <div class="col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Adı Rus dilində</mat-label>
                <input type="text" matInput formControlName="NameRussia"  >
                <mat-error  *ngIf="errorHandling('NameRussia','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Adı İnglis dilində</mat-label>
                <input type="text" matInput formControlName="NameEnglish"  >
                <mat-error  *ngIf="errorHandling('NameEnglish','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Adı Azərbaycan dilində</mat-label>
                <input type="text" matInput formControlName="NameAzerbaijan" >
                <mat-error  *ngIf="errorHandling('NameAzerbaijan','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Dəyəri</mat-label>
                <input type="number" matInput formControlName="PriceValue"  placeholder="0.3">
                <mat-error  *ngIf="errorHandling('PriceValue','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
                <mat-error  *ngIf="errorHandling('PriceValue','pattern') " >
                  {{'NumberPattern' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Əlagə nömrəsi</mat-label>
                <input type="text" matInput formControlName="PhoneNumber"  placeholder="0.3">
                <mat-error  *ngIf="errorHandling('PhoneNumber','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Google xəritədə location linki</mat-label>
                <input type="text" matInput formControlName="Url"  placeholder="0.3">
                <mat-error  *ngIf="errorHandling('Url','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Email</mat-label>
                <input type="text" matInput formControlName="Email"  placeholder="0.3">
                <mat-error  *ngIf="errorHandling('Email','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
                <mat-error  *ngIf="errorHandling('Email','email') && !errorHandling('Email','required')">
                  {{'EmailInCorrect' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Rezerv Email </mat-label>
                <input type="text" matInput formControlName="Email2"  placeholder="0.3">
                <mat-error  *ngIf="errorHandling('Email2','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
                <mat-error  *ngIf="errorHandling('Email2','email') && !errorHandling('Email2','required')">
                  {{'EmailInCorrect' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Ünvan Rus dilində</mat-label>
                <input type="text" matInput formControlName="AddressRussia"  placeholder="Имя">
                <mat-error  *ngIf="errorHandling('AddressRussia','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Ünvan İnglis dilində</mat-label>
                <input type="text" matInput formControlName="AddressEnglish"  placeholder="Name">
                <mat-error  *ngIf="errorHandling('AddressEnglish','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Ünvan Azərbaycan dilində</mat-label>
                <input type="text" matInput formControlName="AddressAzerbaijan"  placeholder="Ad">
                <mat-error  *ngIf="errorHandling('AddressAzerbaijan','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>

              <mat-label class="text-capitalize">İş Vaxtı Rus dilində</mat-label>
              <br>
              <br>
              <ckeditor [editor]="Editor" formControlName="WorkTimeRussia" data="<p>Hello, world!</p>"></ckeditor>
              <br>

              <mat-label class="text-capitalize">İş Vaxtı İnglis dilində</mat-label>
              <br>
              <br>
              <ckeditor [editor]="Editor" formControlName="WorkTimeEnglish"  data="<p>Hello, world!</p>"></ckeditor>
              <br>

              <mat-label class="text-capitalize">İş Vaxtı Azərbaycan dilində</mat-label>
              <br>
              <br>
              <ckeditor [editor]="Editor" formControlName="WorkTimeAzerbaijan" data="<p>Hello, world!</p>"></ckeditor>
              <br>

              <mat-checkbox class="mt-2 w-100 text-capitalize" color="primary" formControlName="IsActived" >
                Activasiya
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="w-100 justify-content-end">
    <button mat-button mat-dialog-close color="warn">Ləğv Et</button>
    <button mat-raised-button class="text-uppercase reg-button"  color="primary" [disabled]="!UpdateForm.valid">Yenilə</button>
  </div>

</form>

