#contact{
  background-color: #EBEEF2;
  .bg-color{
    background: white;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 20px 0px #c8c8c8;
  }
  .sub{
    font-size: 13px;
    word-break: break-word;
  }
  .description{
    line-height: 1.4;

  }
  .mat-raised-button{
    background-color: #3179ce;
    color: white;
  }
  .text-area{
    .mat-form-field-wrapper{
      height: 100%;
      .mat-form-field-flex{
        height: 100%;
        .mat-form-field-infix{
          height: 100%;
        }
      }
    }
  }
}
button:focus{
  outline: 0;
}
