<div class="w-100 d-flex flex-wrap">
  <div class="col-12" id="settings">
    <div class="top-statement d-flex justify-content-between align-items-center">
      <span class="m-0 pl-3 title">{{'Settings'|translate}} </span>
    </div>
    <div class="style content-tab mt-4">
      <form *ngIf="user.privateCustomer!=null else elseblock" [formGroup]="privateForm" novalidate (ngSubmit)="submit()">
        <div class="d-flex flex-wrap">
          <div class="pt-4 pb-4    w-100">
            <div class="w-100">
              <h2 class=" pl-3 pb-2 w-100 text-uppercase"><b>{{'PersonalInfo' | translate }} </b></h2>
              <div class="d-flex flex-wrap w-100">
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize">{{'Email' | translate }} </mat-label>
                    <input type="email" matInput formControlName="Email"  placeholder="camex.example@example.com">
                    <mat-error  *ngIf="errorHandling('Email','email') && !errorHandling('Email','required')">
                      {{'EmailInCorrect' | translate }}
                    </mat-error>
                    <mat-error  *ngIf="errorHandling('Email','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize" >{{'IDCardNumber' | translate }}</mat-label>
                    <input type="number" formControlName="PassportNumber" matInput  placeholder="12345678">
                    <mat-error  *ngIf="errorHandling('PassportNumber','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                    <mat-error  *ngIf="errorHandling('PassportNumber','min') ||errorHandling('PassportNumber','max') " >
                      {{'MinMaxPassNumber' | translate }}
                    </mat-error>
                    <mat-error  *ngIf="errorHandling('PassportNumber','pattern') " >
                      {{'NumberPattern' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize" >{{'registrationName' | translate }}</mat-label>
                    <input type="text" matInput  placeholder="Seynur" formControlName="Name">
                    <mat-error  *ngIf="errorHandling('Name','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize" >{{'registrationSurname' | translate }}</mat-label>
                    <input type="text" matInput  placeholder="Məmmədov" formControlName="Surname">
                    <mat-error  *ngIf="errorHandling('Surname','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize" >{{'registrationLastname' | translate }}</mat-label>
                    <input type="text" matInput  placeholder="Seymur" formControlName="Lastname">
                    <mat-error  *ngIf="errorHandling('Lastname','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize" >{{'BirthDate' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="Birthday" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error  *ngIf="errorHandling('Birthday','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-6 col-md-6 col-12 d-flex flex-wrap">
                  <div class="col-lg-6 col-md-6 col-12 p-0">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize"> {{'PassIIN' | translate }}</mat-label>
                      <input type="text" matInput  placeholder="4FRKPVD" formControlName="FINCode">
                      <mat-error  *ngIf="errorHandling('FINCode','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 p-0 pl-lg-1 pl-md-1 d-flex align-items-center justify-content-between">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize" >{{'Gender' | translate }}</mat-label>
                      <mat-select  formControlName="IsMan">
                        <mat-option value="true" class="text-capitalize">
                          {{'Male' | translate }}
                        </mat-option>
                        <mat-option value="false" class="text-capitalize">
                          {{'Female' | translate }}
                        </mat-option>
                      </mat-select>
                      <mat-error  *ngIf="errorHandling('IsMan','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

              </div>
              <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'Password' | translate }}</b></h4>
              <div class="d-flex flex-wrap w-100">
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize">{{'CurrentPassword' | translate }}</mat-label>
                    <input type="password" matInput placeholder="*********" formControlName="CurrentPassword">
                    <mat-error  *ngIf="errorHandling('CurrentPassword','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                    <mat-error  *ngIf="CurrentPassword.errors?.minlength " >
                      {{'minLengthPass' | translate }}
                    </mat-error>
                    <mat-error  *ngIf="errorHandling('CurrentPassword','pattern')" >
                      {{'patternPass' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize">{{'Password' | translate }}</mat-label>
                    <input type="password" matInput placeholder="*********" formControlName="Password">
                    <mat-error  *ngIf="errorHandling('Password','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                    <mat-error  *ngIf="Password.errors?.minlength " >
                      {{'minLengthPass' | translate }}
                    </mat-error>
                    <mat-error  *ngIf="errorHandling('Password','pattern')" >
                      {{'patternPass' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize" >{{'PasswordAgain' | translate }}</mat-label>
                    <input type="password" matInput placeholder="*********" formControlName="CheckPassword">
                    <mat-error  *ngIf="errorHandling('CheckPassword','compare')" >
                      {{'comparePass' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'Contact' | translate }}</b></h4>
              <div class="d-flex flex-wrap w-100">
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill" >
                    <mat-label class="text-capitalize">{{'City' | translate }}</mat-label>
                    <mat-select formControlName="CityId">
                      <mat-option *ngFor="let city of currentCities" [value]="city.id" class="text-capitalize">
                        {{city.cityNameTranslates[0].name}}
                      </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="errorHandling('CityId','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                    <mat-error  *ngIf="errorHandling('CityId','pattern') " >
                      {{'NumberPattern' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize">{{'Address' | translate }}</mat-label>
                    <input type="text" matInput placeholder="Nizami rayonu, Cəmşid Naxçivanski 73 " formControlName="Address">
                    <mat-error  *ngIf="errorHandling('Address','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>

                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label class="text-capitalize">{{'PhoneNum' | translate }}</mat-label>
                    <input type="text" matInput placeholder="559294860" formControlName="PhoneNumber">
                    <mat-error  *ngIf="errorHandling('PhoneNumber','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                    <mat-error  *ngIf=" PhoneNumber.errors?.minlength ||PhoneNumber.errors?.maxlength " >
                      {{'PhoneNumberLength' | translate }}
                    </mat-error>
                    <mat-error  *ngIf="errorHandling('PhoneNumber','pattern') " >
                      {{'NumberPattern' | translate }}
                    </mat-error>
                  </mat-form-field>

                </div>
                <div class="col-12 " id="fileInput">
                  <mat-form-field>
                    <mat-label class="text-capitalize">{{"ProfileImage"|translate}}</mat-label>
                    <div class="d-flex justify-content-between">
                      <input matInput [value]="fileAttr" readonly name="name" />
                      <button mat-raised-button type="button"  (click)="fileInput.click()">
                        {{"Browse"|translate}}
                      </button>
                      <input type="file"  hidden #fileInput formControlName="FileInput"  (change)="uploadFileEvt($event)" name="uploadFile"
                             accept="image/*" />
                    </div>
                    <mat-error  *ngIf="errorHandling('FileInput','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
              <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'OfficeTitle' | translate }}</b></h4>
              <div class="d-flex flex-wrap w-100">
                <div class="col-lg-6 col-md-6 col-12">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label class="text-capitalize">{{'Office' | translate }}</mat-label>
                    <mat-select formControlName="OfficeId">
                      <mat-option *ngFor="let office of offices;index as i" [value]="office.id" class="text-capitalize">
                        {{office.officeNameTranlates[0].name}}
                      </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="errorHandling('OfficeId','required')" [innerHTML]="'Required' | translate ">
                    </mat-error>
                    <mat-error  *ngIf="errorHandling('OfficeId','pattern') " >
                      {{'NumberPattern' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="w-100 d-flex justify-content-end mt-4">
                <button mat-raised-button class="text-uppercase reg-button"  [disabled]="!privateForm.dirty || !privateForm.valid" >{{'Save'|translate}}  </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <ng-template #elseblock>
        <form [formGroup]="businessForm" novalidate (ngSubmit)="submitBusiness()">
          <div class="d-flex flex-wrap">
            <div class=" pb-4 w-100">
              <div class=" w-100">
                <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'BusinessInfo' | translate }}</b></h4>
                <div class="d-flex flex-wrap w-100">
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize">{{'Email' | translate }} </mat-label>
                      <input type="email" matInput formControlName="Email"  placeholder="camex.example@example.com">
                      <mat-error  *ngIf="errorHandlingBusiness('Email','email') && !errorHandlingBusiness('Email','required')">
                        {{'EmailInCorrect' | translate }}
                      </mat-error>
                      <mat-error  *ngIf="errorHandlingBusiness('Email','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100"  appearance="fill">
                      <mat-label  class="text-capitalize"> {{'CompanyNumber' | translate }} </mat-label>
                      <input type="number" formControlName="CompanyRegistrationNumber" matInput  placeholder="123456789">
                      <mat-error  *ngIf="errorHandlingBusiness('CompanyRegistrationNumber','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                      <mat-error  *ngIf="errorHandlingBusiness('CompanyRegistrationNumber','min') ||errorHandlingBusiness('CompanyRegistrationNumber','max') " >
                        {{'MinMaxPassNumber' | translate }}
                      </mat-error>
                      <mat-error  *ngIf="errorHandlingBusiness('CompanyRegistrationNumber','pattern') " >
                        {{'NumberPattern' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize"> {{'CompanyName' | translate }} </mat-label>
                      <input type="text" matInput  formControlName="CompanyName" placeholder="Camex MMC">
                      <mat-error  *ngIf="errorHandlingBusiness('CompanyName','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'Password' | translate }}</b></h4>
                <div class="d-flex flex-wrap w-100">
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize">{{'CurrentPassword' | translate }}</mat-label>
                      <input type="password" matInput placeholder="*********" formControlName="CurrentPasswordBusiness">
                      <mat-error  *ngIf="errorHandlingBusiness('CurrentPassword','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                      <mat-error  *ngIf="CurrentPasswordBusiness.errors?.minlength " >
                        {{'minLengthPass' | translate }}
                      </mat-error>
                      <mat-error  *ngIf="errorHandlingBusiness('CurrentPassword','pattern')" >
                        {{'patternPass' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize">{{'Password' | translate }}</mat-label>
                      <input type="password" matInput placeholder="*********" formControlName="Password">
                      <mat-error  *ngIf="errorHandlingBusiness('Password','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                      <mat-error  *ngIf="PasswordBusiness.errors?.minlength " >
                        {{'minLengthPass' | translate }}
                      </mat-error>
                      <mat-error  *ngIf="errorHandlingBusiness('Password','pattern')" >
                        {{'patternPass' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize" >{{'PasswordAgain' | translate }}</mat-label>
                      <input type="password" matInput placeholder="*********" formControlName="CheckPassword">
                      <mat-error  *ngIf="errorHandlingBusiness('CheckPassword','compare')" >
                        {{'comparePass' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'Contact' | translate }}</b></h4>
                <div class="d-flex flex-wrap w-100">
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100" appearance="fill" >
                      <mat-label class="text-capitalize">{{'City' | translate }}</mat-label>
                      <mat-select formControlName="CityId">
                        <mat-option *ngFor="let city of currentCities" [value]="city.id" class="text-capitalize">
                          {{city.cityNameTranslates[0].name}}
                        </mat-option>
                      </mat-select>
                      <mat-error  *ngIf="errorHandlingBusiness('CityId','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                      <mat-error  *ngIf="errorHandlingBusiness('CityId','pattern') " >
                        {{'NumberPattern' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize">{{'Address' | translate }}</mat-label>
                      <input type="text" matInput placeholder="Nizami rayonu, Cəmşid Naxçivanski 73 " formControlName="Address">
                      <mat-error  *ngIf="errorHandlingBusiness('Address','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>

                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label class="text-capitalize">{{'PhoneNum' | translate }}</mat-label>
                      <input type="text" matInput placeholder="559294860" formControlName="PhoneNumber">
                      <mat-error  *ngIf="errorHandlingBusiness('PhoneNumber','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                      <mat-error  *ngIf=" PhoneNumberBusiness.errors?.minlength ||PhoneNumberBusiness.errors?.maxlength " >
                        {{'PhoneNumberLength' | translate }}
                      </mat-error>
                      <mat-error  *ngIf="errorHandlingBusiness('PhoneNumber','pattern') " >
                        {{'NumberPattern' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <h4 class=" pl-3  pt-4 pb-2 w-100 text-uppercase"><b>{{'OfficeTitle' | translate }}</b></h4>
                <div class="d-flex flex-wrap w-100">
                  <div class="col-lg-6 col-md-6 col-12">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label class="text-capitalize">{{'Office' | translate }}</mat-label>
                      <mat-select formControlName="OfficeId">
                        <mat-option *ngFor="let office of offices" [value]="office.id" class="text-capitalize">
                          {{office.officeNameTranlates[0].name}}
                        </mat-option>
                      </mat-select>
                      <mat-error  *ngIf="errorHandlingBusiness('OfficeId','required')" [innerHTML]="'Required' | translate ">
                      </mat-error>
                      <mat-error  *ngIf="errorHandlingBusiness('OfficeId','pattern') " >
                        {{'NumberPattern' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="w-100 d-flex justify-content-end mt-4">
                  <button mat-raised-button class="text-uppercase reg-button" [disabled]="!businessForm.dirty || !businessForm.valid" >{{'Save'|translate}}  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</div>
