<h1 class="mb-2" mat-dialog-title>
  <b>Tarif yenilə</b>
</h1>


<form [formGroup]="createForm" novalidate (ngSubmit)="submit()">
  <div mat-dialog-content >
    <div class="d-flex flex-wrap">
      <div class="pt-4 pb-4  pl-1 pr-1 w-100">
        <div class="w-100">
          <div class="d-flex flex-wrap w-100">
            <div class="col-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Minimum çəki</mat-label>
                <input type="number" matInput formControlName="Min" step="0.01">
                <mat-error  *ngIf="errorHandling('Min','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
                <mat-error  *ngIf="errorHandling('Min','pattern') " >
                  {{'NumberPattern' | translate }}
                </mat-error>
              </mat-form-field>
              <p>Maksimum dəyərə 100 yazsanız səyfədə "yuxarı" kimi görünəcək</p>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Maksimum çəki</mat-label>
                <input type="number" matInput formControlName="Max" step="0.01">
                <mat-error  *ngIf="errorHandling('Max','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
                <mat-error  *ngIf="errorHandling('Max','pattern') " >
                  {{'NumberPattern' | translate }}
                </mat-error>
                <mat-error  *ngIf="errorHandling('Max','greaterThan')" >
                  Maksimum çəki minimum çəkidən cox olmalıdır
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Qiymət</mat-label>
                <input type="number" matInput formControlName="Price" step="0.01">
                <mat-error  *ngIf="errorHandling('Price','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
                <mat-error  *ngIf="errorHandling('Price','pattern') " >
                  {{'NumberPattern' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="w-100 justify-content-end">
    <button mat-button mat-dialog-close color="warn">Ləğv Et</button>
    <button mat-raised-button class="text-uppercase reg-button"  color="primary" [disabled]="!createForm.valid">Yenilə</button>
  </div>

</form>

