<h1 class="mb-2" mat-dialog-title>
  <b>Create Shop</b>
</h1>

<form [formGroup]="createForm" novalidate (ngSubmit)="submit()">
  <div mat-dialog-content >
    <div class="d-flex flex-wrap">
      <div class="pt-4 pb-4  pl-1 pr-1 w-100">
        <div class="w-100">
          <div class="d-flex flex-wrap w-100">
            <div class="col-12">
              <h3 class="text-capitalize">Name: <b>{{this.data.fullname}}</b></h3>
              <h4 class="text-capitalize">Phone number: +994<b>{{this.data.phoneNumber}}</b></h4>
              <h4 class="text-capitalize">CamexId: <b>{{this.data.camexId}}</b></h4>
              <h4 class="text-capitalize">Message: <b>{{this.data.message}}</b></h4>

              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Email</mat-label>
                <input type="text" matInput formControlName="Email" readonly  placeholder="Имя">
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label class="text-capitalize">Subject</mat-label>
                <input type="text" matInput formControlName="Subject"  placeholder="Имя">
                <mat-error  *ngIf="errorHandling('Subject','required')" [innerHTML]="'Required' | translate ">
                </mat-error>
              </mat-form-field>
              <mat-label class="text-capitalize">Message</mat-label>
              <ckeditor [editor]="Editor" formControlName="Message" data="<p>Hello, world!</p>"></ckeditor>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="w-100 justify-content-end">
    <button mat-button mat-dialog-close color="warn">Cancel</button>
    <button mat-raised-button class="text-uppercase reg-button"  color="primary" [disabled]="!createForm.valid">Create</button>
  </div>

</form>

