<div class="w-100 d-flex flex-wrap" >
  <div class="col-12 mb-4">
    <div class="top-statement d-flex justify-content-between align-items-center">
      <span class="m-0 pl-3 title">{{'OutsideAddress'|translate}}</span>
    </div>
  </div>
  <div class="col-12 mb-4" id="inside-tab">
    <mat-tab-group class="style">

      <mat-tab *ngFor="let country of countryData">
        <ng-template mat-tab-label><img [src]="createImgPath(country.image)" alt="icon" width="20px" class="mr-2 ml-2"><span class="title-panel"> {{country.name}}</span></ng-template>
        <div class="w-100 d-flex flex-wrap">
          <div class="col-12 p-0">
            <div class="d-flex flex-wrap">
              <div class="col-lg-2 col-md-2 col-sm-4  p-0 flag" [ngStyle]="{'background-image':'url('+createImgPath(country.bgImage)+')'}">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-8 py-3 px-4 countryAbout d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-sm-6  col-12" *ngFor="let desc of country.countryAddressDescriptions">
                  <span>{{desc.title}}:</span>
                  <p><b>{{desc.description}}</b></p>
                </div>

                <div class="col-12 notice mt-4">
                  {{country.noticeTranslate[0].name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
