<div class="w-100 d-flex flex-wrap">
  <div class="col-12 " id="inside-tab">
    <mat-tab-group class="style">

      <mat-tab *ngFor="let country of countryData">
        <ng-template mat-tab-label><img [src]="createImgPath(country.image)" alt="icon" width="20px" class="mr-2"> {{country.name}}</ng-template>
        <div class="w-100 d-flex flex-wrap">
          <div class="col-12 p-0">
            <div class="d-flex flex-wrap">
              <div class="col-2 p-0 flag" [ngStyle]="{'background-image':'url('+createImgPath(country.bgImage)+')'}">
              </div>
              <div class="col-10 py-3 px-4 countryAbout d-flex flex-wrap">
                <div class="col-3" *ngFor="let desc of country.countryAddressDescriptions">
                  <span>{{desc.title}}:</span>
                  <p><b>{{desc.description}}</b></p>
                </div>

                <div class="col-12 notice mt-4">
                  {{country.noticeTranslate[0].name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
