#calculator{
  background-color: #EBEEF2;
  padding-bottom: 20px;
  .approximate-price{
    background-color: #3179CE;
    color: white;
    span{
      margin-top: 30px;
      border-bottom: 1px solid white;
      padding-bottom: 5px;
    }
    .cost{
      font-size: 50px;
      margin-bottom: 30px;
      margin-top: 30px;
      }

  }
  .bg-color{
    background: white;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 20px 0px #bababa;
  }
  .box{
    padding: 50px 15px 0 15px;
    .country{
      width: 100%;
      color: black!important;
    }
    .lenght,.weight{
      width: 100%;
    }
    .items{
      .col-3{
        &:first-child{
          mat-form-field{
            padding-left: 0;
          }
        }
        &:last-child{
          mat-form-field {
            padding-right: 0;
          }
        }
      }
      .mat-form-field{
        width: 100%;
        padding: 3px;
        line-height: 1.3!important;
      }
    }
    .bottom{
      margin-left: -10px;
      margin-right: -10px;
      padding: 33px 30px;
      color: black;

      .cost-title{
        font-size: 12px;
      }
      button{
        outline: 0;
        width: 100%;
        white-space: normal;
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #3179ce;
        color: white;
      }
    }

  }
  .mat-select-arrow{
    color:black!important;
  }
  .mat-form-field-underline {
    &:before{
      background-color: #2066B9!important;
    }
  }
  .mat-select-value{
    color: black!important;
    text-transform: capitalize;
  }
  .mat-form-field-label{
    color: black;
  }
  .mat-form-field{
    line-height: 1.2!important;
  }
  .mat-form-field-infix{
    color: black;
  }
}

@media (min-width: 990px) and (max-width: 1200px){
  .pl-pr-10{
    padding:0 2% 0 2%!important;
  }
  .box{
    .bottom{
      padding: 20px 15px;
    }
  }
}
@media(min-width: 765px) and (max-width: 990px){
  .box{
    .bottom{
      .cost{
        font-size: 20px;
        color: #fff;
      }
      .cost-title{
        margin-bottom: 5px;
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 765px){
  .box{
    .bottom{
      .cost{
        font-size: 16px;
      }
      .cost-title{
        margin-bottom: 5px;
        font-size: 18px;
      }
      button{
        font-size: 14px;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
