:root {
  --white: #fff;
  --gray: #c9c9c9;
}
header{
  display: block;

  .top-header{
    background-color: #282828;

    nav{
      display: flex;
      a{
        display: flex;
        align-items: center;
        text-transform: capitalize;
        position: relative;
        color: var(--gray);
        font-size: 12px;
        padding: 15px 25px;
        transition: all .3s;
        text-decoration: none;
        &:nth-child(1){
          display: none;
        }
        &:nth-child(2){
          padding-left: 10px;
          &:before{
            content: '';
            position: absolute;
            right: 15px;
            width: 17px;
            height: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../../assets/image/navbar/home-icon.png);
          }
        }

        &:hover{
          color: #2780dc;
        }
      }
    }
    .top-header-right{
      display: flex;
      .phone{
        text-transform: capitalize;

        padding: 15px 20px;
        border-left: 1px solid #3d3d3d;
        span{
          &:nth-child(1){
            color: var(--gray);
            font-size: 12px;
          }
          &:nth-child(2){
            color: var(--white);
            font-size: 13px;
          }
        }
      }
      .langues{
        padding: 15px 25px;
        display: inline-block;
        border: 1px solid #3d3d3d;
        border-top: 0;
        position: relative;
        span{
          color: var(--gray);
          font-size: 12px;
          margin: 0 5px;
          cursor: pointer;
        }
      }
    }
  }
  .logo {
    width: 140px;
    height: 64px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
  }
  .menu {
    display: inline-block;
    vertical-align: top;
    ul{
      list-style: none;
      display: flex;
      margin:0;
      padding: 0;
        a{
          color: black;
          font-weight: bold;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
          li{
            padding: 22px 30px 22px 73px;
            position: relative;
            transition: all .3s;
            display: flex;
            align-items: center;
            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: 10px;
              bottom: 10px;
              margin: auto;
              width: 1px;
              background-color: #f4f4f4;
            }
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 10px;
              bottom: 10px;
              margin: auto;
              width: 1px;
              background-color: #f4f4f4;
              transition: all .3s;
            }
            &:hover, .active {
              background-color: #f6f6f6;
              &:after,&:before {
                background-color: #c8c8c8;
              }
            }
            }
          .fa-nav-icon{
            font-size: 20px;
            margin-left: -50px;
            margin-right: 20px;
            vertical-align: bottom;
          }

          }
        }
      }
  .user-box{
    .user{
      .img{
        width: 42px;
        height: 42px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-right: 20px;
      }
      .title{
        .username{
          color: black;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 6px;
        }
        a{
          width: 100%;
          text-decoration: none;
        }
        .balance{
          font-size: 13px;
          color: black;
          span{
            &:nth-child(2) {
              color: #3179ce;
            }
          }
        }
      }
    }
    .logout-icon{
      cursor: pointer;
      display: inline-block;
      width: 70px;
      height: 64px;
      background-color: #3179ce;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      background-image: url('../../assets/image/navbar/logout.png');
    }
  }
  .register{
    text-transform: capitalize;
    background-color: #2F6BB7!important;
  }
  .log-sys-btn{
    text-transform: capitalize;
    outline: none;
    padding: 2px 24px;
    box-sizing: content-box;
    font-size: 12px;
    .user-icon{
      margin-right: 12px;
      margin-left: -6px;
      font-size: 17px;
    }
  }
}
.lang{
  color: black;
  font-size: 12px;transition: all .3s;
  text-decoration: none!important;
  .flag{
    margin-right: 5px;
    display: inline-block;
    width: 14px;
    vertical-align: top;
    height: 18px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
  }
  &:hover{
    color: #2780dc;
  }
}
.dropdown{
  .mat-select-arrow{
    color:var(--gray)!important;
  }
  .mat-form-field-underline {
    height: 0!important;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0!important;
  }
  .mat-form-field-infix {
    border: 0;
    padding: 0!important;
    width: 165px!important;
  }

}
.active-lang{
  color: #2780dc!important;
}
@media (max-width: 1377px){
  header{
    display: block!important;

      .pl-pr-10{
      padding:0 2% 0 2%;
    }
    .top-header {
      background-color: var(--white);
      nav {
        a {
          &:nth-child(1) {
          display: block !important;
          }
          &:last-child{
            padding-right: 0!important; ;
          }
          padding: 15px 15px;
          color: #545454 !important;
        }
      }
      .logo {
        height: 50px;
      }
      .top-header-right {
        .phone {
          border-left: 1px solid #e9e9e9 !important;
          span{
            &:nth-child(1){
              color: #545454!important;
            }
            &:nth-child(2){
              color: var(--black);
            }
          }
        }
        .langues {
          border: 1px solid #e9e9e9 !important;
          border-right: 0!important;
          border-bottom: 0!important;
          padding-right: 0!important; ;
          span{
              color: #545454!important;
          }
        }
      }
    }
    .lg-logo {
      display: none;
    }
  }
}
@media (max-width: 990px){
  header{
    display: none!important;
  }
}
