<mat-sidenav-container autosize >
  <mat-sidenav #sidenav >
    <div class="mobile-navbar-slider d-flex justify-content-between align-items-center">
      <a routerLink="" class="logo white-logo"></a>
      <i class="fal fa-times close nav-btn" (click)="sidenav.toggle()" (click)=" showScroll()"></i>
    </div>
    <div class="nav-item-list">
      <ul class="mainUL">
        <li><a routerLink="/login" (click)=" showScroll()">Gİrİş</a></li>
        <li><a routerLink="" (click)=" showScroll()">ana səhİfə</a></li>
        <li><a routerLink="/shopping" (click)=" showScroll()">mağazalar</a></li>
        <li><a routerLink="/tariffs" (click)=" showScroll()">tarİflər</a></li>
        <li><a routerLink="/news" (click)=" showScroll()">xəbərlər</a></li>
        <li><a routerLink="/faq" (click)=" showScroll()">faq</a></li>
        <li><a routerLink="/about" (click)=" showScroll()">hadqqımızda</a></li>
        <li><a routerLink="/contact" (click)=" showScroll()">əlaqə</a></li>
      </ul>
      <ul class="d-flex flagUl flex-wrap"  >
        <li *ngFor="let lang of languages" >
          <a role="button" class="lang-mobile" (click)="SetLanguage(lang.value)">
            <div class="flag-mobile">
              <img width="100%" [src]="lang.img"  >
            </div>
            <span> {{lang.name}}</span>
          </a>
        </li>
      </ul>
    </div>

  </mat-sidenav>

  <mat-sidenav-content >
   <div class=" justify-content-between align-items-center mobile-navbar-head">
     <a routerLink="" class="logo"></a>
     <i class="fal fa-bars open nav-btn" (click)="sidenav.toggle()" (click)="hideScroll()"></i>
   </div>
    <ng-content>
    </ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>

