<app-navbar>
</app-navbar>
<app-mobile-navbar>
</app-mobile-navbar>
<app-banner [name]="name" [bannerSrc]="bannerSrc"></app-banner>
<section id="list">
  <div class="container-fluid  pl-pr-10 pt-5">
    <mat-tab-group class="pt-5 ">
      <mat-tab *ngFor="let tab of tabs">
        <ng-template mat-tab-label >{{tab.label}}</ng-template>
        <div class="w-100 link-content d-flex flex-wrap mt-2 mb-4 pl-4 ">
            <div class="rounded col-xl-4 col-lg-6 col-md-6 col-sm-12  col-12 d-flex align-items-center justify-content-center mt-4 " *ngFor="let link of tab.links">
              <div class="item rounded">
                <p class="m-0 ml-4 d-flex align-items-center">
                  <i class="far fa-link mr-2" style="color: #2780dc"></i>
                  <a href="{{link}}" target="_blank">
                   <span *ngIf="link.length>25;else elseblock">
                      {{link.substr(0,25)}}..
                    </span>
                    <ng-template #elseblock>
                       {{link}}
                    </ng-template>
                  </a>
                </p>
              </div>
            </div>
          </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</section>
<app-footer></app-footer>
