<app-navbar>
</app-navbar>
<app-mobile-navbar>
</app-mobile-navbar>
<section id="myprofile">
  <div class="container-fluid h-100 pl-pr-10 pt-5">
    <mat-tab-group *ngIf="loaded;else elseblock" class="pt-5" >
      <mat-tab >
        <ng-template mat-tab-label > <div class="item" (click)="onSwitch('/myprofile/control-panel')"><i class="fas fa-bars ml-2 mr-3"></i>Panel səyfəsi</div></ng-template>
        <app-control-panel [user]="user" (event)="get()"></app-control-panel>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label ><div class="item" (click)="onSwitch('/myprofile/countries')"><i class="far fa-globe-europe ml-2 mr-3"></i>Xaricdəki ünvanlarım </div></ng-template>
       <app-countries></app-countries>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label ><div class="item" (click)="onSwitch('/myprofile/statements')"><i class="fas fa-edit ml-2 mr-3"></i>Bətanlarım</div> </ng-template>
       <app-statements [user]="user" (event)="get()"></app-statements>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label><div class="item" (click)="onSwitch('/myprofile/orders')"><i class="far fa-browser ml-2 mr-3"></i>Sifarislerim</div> </ng-template>
        <app-orders [user]="user" (event)="get()"></app-orders>
      </mat-tab>
    </mat-tab-group>
    <ng-template #elseblock>
      <div class="p-5 d-flex align-items-center justify-content-center" id="spinner">
        <div class="loadingio-spinner-ripple-csnjyibusbm"><div class="ldio-9sidx6p0q8c">
          <div></div><div></div>
        </div></div>
      </div>
    </ng-template>
  </div>
</section>
<app-footer></app-footer>

