<app-navbar>
</app-navbar>
<app-mobile-navbar>
</app-mobile-navbar>
<app-banner [name]="name" [bannerSrc]="bannerSrc"></app-banner>
<section id="about" class="pt-5 pb-5">
  <div class="container-fluid bg-color pl-pr-10 pt-5 pb-5">
    <div class="text col-lg-12 col-xs-12 xs-p-0">
      <h3>О Компании</h3>
      <br>
      <p>Компания «Camex» осуществляет транспортировку посылок из Соединенных штатов Америки, Германии,&nbsp;Дубая, Китая и Англии в Грузию .</p>

      <p>&nbsp;</p>

      <p>«Camex» - это надежная компания с огромным опытом в сфере международных грузовых перевозок. Мы сотрудничаем&nbsp;с самыми опытными &nbsp;грузовыми авиакомпаниями.</p>

      <p>&nbsp;</p>

      <p>Успех нашей компании напрямую зависит от отзыва клиентов о качестве предоставляемых нами услуг. &nbsp;Основным принципом "Camex"&nbsp;является честное и доверительное отношение с потребителем, подкрепленное надлежащим исполнением обязательств с нашей стороны.</p>

      <p>&nbsp;</p>

      <p>«Camex» предлагает эффективный и доступный способ получить желаемый продукт не выходя из дома.&nbsp; А скидки и акции, которые постоянно проводит наша компания,&nbsp; сэкономят Ваши деньги и время при онлайн-шопинге.</p>

      <p>&nbsp;</p>

      <p>Пользоваться услугами «Camex» может любое физическое и юридическое лицо, которое пройдет регистрацию на веб-сайте компании, регистрация бесплатная.</p>

      <p>&nbsp;</p>

      <p  style="text-align: center;"><iframe allowfullscreen="" frameborder="0" class="video-height" width="70%" src="https://www.youtube.com/embed/G42YgFvnd_M?rel=0"></iframe></p>

    </div>
  </div>
</section>
<app-footer></app-footer>
